In [1]:
import pandas as pd
import numpy as np

file_path = r"/Users/banghyewon/Desktop/dynamic_wirye_drt/data/processed/240307_wirye_od.parquet"

df = pd.read_parquet(file_path)

df

,KEY1,출발_x,출발_y,도착_x,도착_y,승차_timestamp,하차_timestamp,이용거리
0,1,127.13365,37.47458,127.14913,37.47377,25952,26125,1380
1,2,127.14475,37.49435,127.15348,37.48692,26619,27337,2980
2,3,127.14055,37.48337,127.14355,37.49053,29781,29922,840
3,4,127.14456,37.48034,127.12667,37.47827,25615,26479,2640
4,5,127.12764,37.46982,127.13715,37.47034,28457,28858,1834
...,...,...,...,...,...,...,...,...
1361,1362,127.14314,37.47209,127.12741,37.46983,31269,31966,2426
1362,1363,127.14336,37.48504,127.14859,37.48707,30177,30375,582
1363,1364,127.14393,37.49239,127.12919,37.48059,27345,28550,2304
1364,1365,127.15930,37.48513,127.14923,37.47763,30516,31358,1980
1365,1366,127.14393,37.49239,127.12814,37.47073,30181,31623,3676

In [6]:
import pandas as pd
import numpy as np

file_path = r"/Users/banghyewon/Desktop/dynamic_wirye_drt/data/processed/240314_sujeong_merged_od.parquet"

df = pd.read_parquet(file_path)

df

,KEY1,출발_x,출발_y,도착_x,도착_y,승차_timestamp,하차_timestamp,이용거리,source
0,1,127.140050,37.443500,127.129830,37.440480,35116,35512,970.0,smartcard
1,2,127.156721,37.445073,127.147540,37.440946,33180,33511,800.0,smartcard
2,3,127.095050,37.411250,127.140220,37.443280,34378,35636,7248.0,smartcard
3,4,127.165930,37.460470,127.134370,37.441830,36324,37522,4431.0,smartcard
4,5,127.137600,37.447020,127.140940,37.473750,32360,33673,4068.0,smartcard
...,...,...,...,...,...,...,...,...,...
8088,8089,127.150463,37.451212,127.140592,37.444779,36375,36932,1702.0,taxi
8089,8090,127.145136,37.473315,127.145273,37.440262,36154,37049,4957.0,taxi
8090,8091,127.139815,37.467473,127.143171,37.471658,36589,37219,2179.0,taxi
8091,8092,127.132068,37.441041,127.141741,37.441216,38033,38415,1362.0,taxi
8092,8093,127.148697,37.450409,127.138696,37.444512,37977,38651,1664.0,taxi

In [2]:
df.columns

Index(['KEY1', '출발_x', '출발_y', '도착_x', '도착_y', '승차_timestamp', '하차_timestamp',
       '이용거리'],
      dtype='object')