In [1]:
import pandas as pd
import numpy as np

file_path = r"/Users/banghyewon/Desktop/dynamic_wirye_drt/data/processed/420_540_trip_both_sequential.parquet"

df = pd.read_parquet(file_path)

df

,KEY1,출발_x,출발_y,도착_x,도착_y,승차_timestamp,하차_timestamp,이용거리
0,1,127.13365,37.47458,127.14913,37.47377,25952,26125,1380
1,2,127.14475,37.49435,127.15348,37.48692,26619,27337,2980
2,3,127.14055,37.48337,127.14355,37.49053,29781,29922,840
3,4,127.14456,37.48034,127.12667,37.47827,25615,26479,2640
4,5,127.12764,37.46982,127.13715,37.47034,28457,28858,1834
...,...,...,...,...,...,...,...,...
1361,1362,127.14314,37.47209,127.12741,37.46983,31269,31966,2426
1362,1363,127.14336,37.48504,127.14859,37.48707,30177,30375,582
1363,1364,127.14393,37.49239,127.12919,37.48059,27345,28550,2304
1364,1365,127.15930,37.48513,127.14923,37.47763,30516,31358,1980
1365,1366,127.14393,37.49239,127.12814,37.47073,30181,31623,3676

In [2]:
df.columns

Index(['KEY1', '출발_x', '출발_y', '도착_x', '도착_y', '승차_timestamp', '하차_timestamp',
       '이용거리'],
      dtype='object')